* {
  margin: 0;
}

html {
  scroll-behavior: smooth;
  font-family: sans-serif;
}

.store{
  scroll-padding-top: 36px 0 0 0;
}

@font-face {
  font-family: TTLakes;
  src: url('/TT Lakes Regular.ttf');
}

@font-face {
  font-family: fortnite;
  src: url('/Burbank-Big-Condensed-Black.ttf');
}


@mixin background-settings{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 30vh;
}

@mixin form_inputs{
  display: block;
  color: black;
  margin: 10px;
  font-size: 1.5rem;
  padding: 10px;
  font-weight: 600;
}

$red: rgb(211, 3, 3);
$dark-bg: rgba(8, 8, 8, 0.726); 


.navbar{
  background-color: $dark-bg;
}

.hero,
.gamecard, 
.profile,
.middle {
  @include background-settings();
}

.hero, .g-card{
  font-family: fortnite;
}

.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)),
  url('../Images/redditcsgo.webp');
  height: 450px;
}

.middle{
  background-image: linear-gradient(rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.9)),
  url("/Images/codteam.jpg");
  height: 350px;
  font-family: fortnite;
}

.gamecard {
  background-image: linear-gradient(rgba(0, 0, 0, 0.37), rgba(0, 0, 0, 0.9)),
    url("public/Images/gamecollage.jpg");
}

.g-card {
  margin-top: 4rem;
}

.gadgets {
  background-image: linear-gradient(rgba(0, 0, 0, 0.67), rgba(0, 0, 0, 0.9)),
    url("/Images/gamerig.jpg");
  background-size: 130%;
  // background-attachment: fixed;
  @include background-settings();
}

form input {
 @include form_inputs();
}

form p {
  color: $red;
}

.profile{
    background-image: linear-gradient(rgba(0, 0, 0, 0.67), rgba(0, 0, 0, 0.9)),
    url("/Images/mqdefaultcsgo.jpg");
}



.sidenav{
  height: 100%;
  transition: 2s;
  background-color: $dark-bg;

  ul li{
    padding: 1rem;
    font-weight: 600;

        &:hover{
            color: $red;
            transition: all 0.2s;
          } 
  }
}

.xbutton{
  width: 39px;
  border-radius: 50%;
}