html {
  scroll-behavior: smooth;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
}

@font-face {
  font-family: TTLakes;
  src: url('/TT Lakes Regular.ttf');
}

@font-face {
  font-family: fortnite;
  src: url('/Burbank-Big-Condensed-Black.ttf');
}


@mixin background-settings {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 30vh;
}

@mixin form_inputs {
  display: block;
  color: black;
  margin: 10px;
  font-size: 1.5rem;
  padding: 10px;
  font-weight: 600;
}


$red: rgb(211, 3, 3);
$darkred: rgb(87, 1, 1);
$dark-bg: rgba(8, 8, 8, 0.726);
$dark-gradient: linear-gradient(rgba(0, 0, 0, 0.7), rgba(7, 7, 7, 0.9));
$darker-gradient: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7));


.navbar {
  background-color: $dark-bg;
}

.hero,
.gamecard,
.profile,
.community,
.errorpage,
.home-section-container {
  @include background-settings();
}

.hero,
.g-card {
  font-family: fortnite;
}

.hero {
  background-image: $dark-gradient, url('/Images/mqdefaultcsgo.jpg');
  height: 100vh;
}

.community {
  background-image: $dark-gradient, url("/Images/codteam.jpg");
  height: 350px;
  font-family: fortnite;
}

.gamecard {
  background-image: $dark-gradient,
    url("public/Images/gamecollage.jpg");
}

.g-card {
  margin-top: 4rem;
}

.gadgets {
  background-image: linear-gradient(rgba(0, 0, 0, 0.67), rgba(0, 0, 0, 0.9)),
    url("/Images/gamerig.jpg");
  @include background-settings();
}

form {
  input {
    @include form_inputs();
  }

  p {
    color: $red;
  }

}


.profile {
  background-image: linear-gradient(rgba(0, 0, 0, 0.67), rgba(0, 0, 0, 0.9)),
    url("/Images/mqdefaultcsgo.jpg");
}

.sidenav {
  height: 100%;
  transition: 2s;
  background-color: $dark-bg;

  ul li {
    padding: 1rem;
    font-weight: 600;

    &:hover {
      color: $red;
      transition: all 0.2s;
    }
  }
}

.xbutton {
  width: 39px;
  border-radius: 50%;
}

.errorpage{
  min-height: 100vh;
  background-image: $dark-gradient, url('/Images/minecraftspawning.gif');
}

.home-section-container{
  background-image: $dark-gradient, url('/Images/asus-rog-ambient-lighting-red.jpg');
}

.home-section{
  background-image: $darker-gradient;
}

icon-hover{
  transition: all 0.3s;
  transform: translateY(2px);
}

.footer{
  border-top: 1px solid $darkred;
  article{
    a:hover{
      transition: all 0.1s;
      transform: translateY(-5px);
    }
  }
}